body {
  height: 100vh;
  margin: 0;
  font-family: 'Arvo';
  font-weight: 200;
}

h1 {
  letter-spacing: 1.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* FONTS */
@font-face {
  font-family: 'Arvo-italic';
  src: url('./fonts/Arvo-Italic.woff2') format('woff2'),
      url('./fonts/Arvo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo-bold';
  src: url('./fonts/Arvo-Bold.woff2') format('woff2'),
      url('./fonts/Arvo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo-bold-italic';
  src: url('./fonts/Arvo-BoldItalic.woff2') format('woff2'),
      url('./fonts/Arvo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('./fonts/Arvo.woff2') format('woff2'),
      url('./fonts/Arvo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}